  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        filter kampus
      </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="kampus">
      <div class="container">
        <div class="row">
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus UI.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Universitas Indonesia
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus UGM.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Universitas Gajah Mada
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus ITB.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Institut Teknologi Bandung
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus UI.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Universitas Indonesia
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus UGM.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Universitas Gajah Mada
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
            <div class="col-lg-4 mg">
              <div class="kampus-wrapper">
                <div class="kampus-img">
                  <img src="../assets/landing-page/img/Kampus ITB.svg" class="img-fluid" alt="">
                </div>
                <div class="kampus-content">
                    <div class="title">
                      Institut Teknologi Bandung
                    </div>
                    <span>Selengkapnya ></span>
                </div>    
              </div>
            </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->
