@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.nb-theme-default{
    nb-card.login-card{
        margin-top: 120px;
    }
}
@include nb-install-component() {
    .logo-wrapper{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-150%);
    }
    .form-control-group{
        input.status-basic {
            background-color: transparent;
            border-color: #babbba;
        }
        .forgot-password {
          color: #474790;
        }
    } 
    button.appearance-filled.status-basic:focus{
        background-color: #538736;
    }
}
.kampus{
    .row > * {
        width: unset!important;
    }
    // .row {
    //     justify-content: space-between;
    // }    
    .mg{        
        margin: 10px 10px 32px 10px;
    }
}
.kampus-wrapper{    
    width: 280px;
    height: 300px;

    background: #FFFFFF;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    .kampus-content{
        display: grid; 
        margin: 1em;    
        .title{            
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #81002E;
        }
        span{            
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #F70059; 
            position: absolute;
            bottom: 15px;
            right: 20px;
        }
    }
}