  <main id="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="module-wrapper">
          <div class="module">
              <span class="icon">
                  <img src="../assets/landing-page/img/icon kampus.svg" class="img-fluid" alt="">
              </span>
              <label>Kampus</label>
          </div>
          <div class="module">
              <span class="icon">
                  <img src="../assets/landing-page/img/icon jurusan.svg" class="img-fluid" alt="">
              </span>
              <label>Jurusan</label>
          </div>
          <div class="module">
              <span class="icon"> 
                  <img src="../assets/landing-page/img/icon karir.svg" class="img-fluid custom" alt="">
              </span>
              <label>Karir</label>
          </div>
          <div class="module">
              <span class="icon">
                  <img src="../assets/landing-page/img/icon tes modalitas.svg" class="img-fluid" alt="">
              </span>
              <label>Test Modalitas</label>
          </div>
          <div class="module">
              <span class="icon">
                  <img src="../assets/landing-page/img/Tryout.svg" class="img-fluid" alt="">
              </span>
              <label>Try Out</label>
          </div>
          <div class="module">
              <span class="icon">
                <img src="../assets/landing-page/img/icon panduan.svg" class="img-fluid" alt="">
              </span>
              <label>Panduan</label>
          </div>        
        </div>
      </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="module-wrapper">
          <div class="module feature">
              <span class="icon-feature">
                  <img src="../assets/landing-page/img/book icon.svg" class="img-fluid" alt="">
              </span>
              <label>BUKU SOAL UTBK</label>
          </div>
          <div class="module feature">
              <span class="icon-feature">
                  <img src="../assets/landing-page/img/foundation_clipboard-pencil.svg" class="img-fluid" alt="">
              </span>
              <label>TRYOUT UTBK</label>
          </div>
          <div class="module feature">
              <span class="icon-feature">
                  <img src="../assets/landing-page/img/fluent_people-sync-16-filled.svg" class="img-fluid custom" alt="">
              </span>
              <label>KONSULTASI</label>
          </div>   
          <div class="checkout-wrapper">
            <div class="checkout">
              CHECK OUT NOW
            </div>
            <div class="time">
              1 : 14 : 20
            </div>
          </div>   
        </div>
      </div>
    </section><!-- End About Section -->


    <section id="about" class="about question">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <div class="section-title">
              <p>Mengapa musti ikut TRYOUT UTBK INTEN??</p>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="ri-check-double-line"></i> Penilaian IRT</li>
              <li><i class="ri-check-double-line"></i> Soal standar UTBK 2022</li>
              <li><i class="ri-check-double-line"></i> Free Pembahasan</li>
              <li><i class="ri-check-double-line"></i> ...</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="clients" class="clients section-bg">
      <div class="container"><div class="owl-carousel owl-theme">
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Denis Richie </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/1024311/pexels-photo-1024311.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Lisa Sthalekar </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Elizabith Richie </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Daniel Xavier </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/1832959/pexels-photo-1832959.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Emma Watson </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card"> <img src="https://images.pexels.com/photos/718261/pexels-photo-718261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> </div>
                <div class="testimonial mt-4 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis. </div>
                <div class="name"> Mohammad Imran </div>
            </div>
        </div>
    </div>
      </div>
    </section><!-- End Clients Section -->
    <!-- ======= Clients Section ======= -->

    <section id="about" class="about quote">
      <div class="container">

        <div class="row content">
          <span class="quote-group">      
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             <label>              
                bila kau tak tahan lelahnya belajar maka kamu harus menahan perihnya kebodohan
             </label> 
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>      
          </span>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="about">
      <div class="container">
        <div class="row content">
          <div class="follow-group">            
            <img src="../assets/landing-page/img/follow (1).png" class="img-fluid" alt="">
            <button class="btn follow">Follow us</button>
            <img src="../assets/landing-page/img/follow (2).png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->
