// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  color-primary-100: #F1E6F9,
  color-primary-200: #E2CEF4,
  color-primary-300: #C4ABE0,
  color-primary-400: #A188C1,
  color-primary-500: #474790,
  color-primary-600: #594382,
  color-primary-700: #422E6D,
  color-primary-800: #2D1D58,
  color-primary-900: #1E1148,
  color-primary-transparent-100: rgba(116, 93, 152, 0.08),
  color-primary-transparent-200: rgba(116, 93, 152, 0.16),
  color-primary-transparent-300: rgba(116, 93, 152, 0.24),
  color-primary-transparent-400: rgba(116, 93, 152, 0.32),
  color-primary-transparent-500: rgba(116, 93, 152, 0.4),
  color-primary-transparent-600: rgba(116, 93, 152, 0.48),
  color-success-100: #F5FCD9,
  color-success-200: #E9F9B4,
  color-success-300: #D4ED8B,
  color-success-400: #BBDC6B,
  color-success-500: #99C63E,
  color-success-600: #7CAA2D,
  color-success-700: #628E1F,
  color-success-800: #497213,
  color-success-900: #385F0B,
  color-success-transparent-100: rgba(153, 198, 62, 0.08),
  color-success-transparent-200: rgba(153, 198, 62, 0.16),
  color-success-transparent-300: rgba(153, 198, 62, 0.24),
  color-success-transparent-400: rgba(153, 198, 62, 0.32),
  color-success-transparent-500: rgba(153, 198, 62, 0.4),
  color-success-transparent-600: rgba(153, 198, 62, 0.48),
  color-info-100: #D5F8FF,
  color-info-200: #ABECFF,
  color-info-300: #81DBFF,
  color-info-400: #61C9FF,
  color-info-500: #2DABFF,
  color-info-600: #2085DB,
  color-info-700: #1664B7,
  color-info-800: #0E4693,
  color-info-900: #08327A,
  color-info-transparent-100: rgba(45, 171, 255, 0.08),
  color-info-transparent-200: rgba(45, 171, 255, 0.16),
  color-info-transparent-300: rgba(45, 171, 255, 0.24),
  color-info-transparent-400: rgba(45, 171, 255, 0.32),
  color-info-transparent-500: rgba(45, 171, 255, 0.4),
  color-info-transparent-600: rgba(45, 171, 255, 0.48),
  color-warning-100: #FEF3D8,
  color-warning-200: #FEE3B2,
  color-warning-300: #FED08B,
  color-warning-400: #FDBC6E,
  color-warning-500: #FC9D3F,
  color-warning-600: #D87A2E,
  color-warning-700: #B55B1F,
  color-warning-800: #923F14,
  color-warning-900: #782C0C,
  color-warning-transparent-100: rgba(252, 157, 63, 0.08),
  color-warning-transparent-200: rgba(252, 157, 63, 0.16),
  color-warning-transparent-300: rgba(252, 157, 63, 0.24),
  color-warning-transparent-400: rgba(252, 157, 63, 0.32),
  color-warning-transparent-500: rgba(252, 157, 63, 0.4),
  color-warning-transparent-600: rgba(252, 157, 63, 0.48),
  color-danger-100: #FEE3DB,
  color-danger-200: #FEC2B8,
  color-danger-300: #FD9994,
  color-danger-400: #FB797E,
  color-danger-500: #F94D64,
  color-danger-600: #D6385C,
  color-danger-700: #B32653,
  color-danger-800: #901849,
  color-danger-900: #770E43,
  color-danger-transparent-100: rgba(249, 77, 100, 0.08),
  color-danger-transparent-200: rgba(249, 77, 100, 0.16),
  color-danger-transparent-300: rgba(249, 77, 100, 0.24),
  color-danger-transparent-400: rgba(249, 77, 100, 0.32),
  color-danger-transparent-500: rgba(249, 77, 100, 0.4),
  color-danger-transparent-600: rgba(249, 77, 100, 0.48),
  //color custom
  color-basic-primary-100 : #FFFFFF,
  color-basic-primary-200 : #FAFAFA,
  color-basic-secondary-100: #E9EAEB,
  color-dark-primary-100 : #000000,
  color-dark-primary-200 : #5C656B,
  color-dark-primary-300 : #354874,
  color-dark-primary-400 : #7D8AAF,
  color-grey-primary-100 : #798FB6,
  color-grey-primary-200: #8992A3,
  color-grey-primary-300: #9EA4A7,
  color-navy: #101426,
  //border custom
  color-border-primary : #E9EAEB,
  color-border-secondary: #D8DADB,  
  //layout
  layout-padding-top: 2.25rem,
  //icon
  menu-item-icon-margin: 0 0.5rem 0 0,    
  //card
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  //select
  select-min-width: 6rem,
  //slideout
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  //font size
  head-title-font-size : 24px,
  title-font-size : 16px,
  sub-title-font-size : 14px,
  small-sub-title-font-size : 12px,
  very-small-sub-title-font-size : 8px,
  //font weight
  font-weight-bold : bold,
  title-font-weight : 700,
  sub-title-font-weight : 600,
  small-sub-title-font-weight : 400,
  //line height
  title-line-height : 36px,
  sub-title-line-height : 24px,
  //border 
  border-transparent-primary : 1px solid #E6E9FF,
), default, default);
