.content-wrapper{
    border: solid 1px #eee;
    padding: 2em;    
    .content-group{
        display: flex;   
        align-items: center; 
        margin-bottom: 1em;
        img{
            height: 30px;
        }
        label{
            font-size: 16px;
            color: red;
            margin: 0 10px;
        }
    }
}