<div class="row">
  <div class="col-9">
    <div class="content-wrapper">
      <h5>Recently accessed courses</h5>
      <div class="course">
        <img src="../../../../assets/images/to.PNG" />
        <div class="text">
          <span class="title">TRYOUT 3 TA 2021/2022</span>
          <span class="sub">TO-3 KELOMPOK SAINTEK</span>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <h5>Course Overview</h5>    
      <div class="filter-bar">
        <nb-select placeholder="Select course" [(ngModel)]="filterCourse">
          <nb-option *ngFor="let item of listCourses" value="{{item}}">
            {{ item }}
          </nb-option>
        </nb-select>  
          
        <nb-select placeholder="Card" [(ngModel)]="filterCourse">
          <nb-option *ngFor="let item of listCourses" value="{{item}}">
            {{ item }}
          </nb-option>
        </nb-select>
      </div>
      <div class="course">
        <img src="../../../../assets/images/to.PNG" />
        <div class="text">
          <span class="title">TRYOUT 3 TA 2021/2022</span>
          <span class="sub">TO-3 KELOMPOK SAINTEK</span>
        </div>
      </div>
    </div>

  </div>
  <div class="col-3">
    <div class="content-wrapper">
      <h5>Timeline</h5>
      <div *ngFor="let item of kelompokList" class="content-group">    
        <img src="../../../../assets/images/book.png" />
        <div>
          <label>{{item}}</label>
          <label class="text-basic">TO-3 KELOMPOK SAINTEK</label>
        </div>
        <div>
          09:17
        </div>
      </div>
    </div>    
  </div>
</div>