<h1 class="title">
  Welcome to Inten App! 😄
</h1>
<h5 class="sub-title">
  Please sign-in to your account and start the adventure
</h5>
<form [formGroup]="loginForm">
  <div class="form-control-group">
    <label class="label" for="input-email">No. Induk</label>
    <input nbInput
           fullWidth
           formControlName="nama" 
           name="nama"
           placeholder="Enter your no induk"
           fieldSize="large"
           autofocus
           [status]="submitted && f.nama.errors  ? 'danger' : 'basic'"
    >       
    <ng-container *ngIf="submitted && f.nama.errors">
      <p class="caption status-danger" *ngIf="f.nama.errors.required">
        No. Induk is required.
      </p>
    </ng-container>   
  </div>
  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password</label>
      <!-- <a class="forgot-password caption-2" routerLink="/auth/forgot-password">{{'login.lbl_forgot_password' | translate}}</a> -->
    </span>
    <div class="password-field-group">
      <input nbInput
             fullWidth
             formControlName="password" 
             name="password"
             [type]="getInputType()"
             fieldSize="large"
             placeholder="Enter your password"
             [status]="submitted && f.password.errors  ? 'danger' : 'basic'"
      >
      <button type="button" class="eyetrigger" nbSuffix nbButton ghost (click)="toggleShowPassword()">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                 pack="eva"
                 [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
      </button>
    </div>
    <ng-container *ngIf="submitted && f.password.errors">
      <p class="caption status-danger" *ngIf="f.password.errors.required">
        Password is required.
      </p>
      <p class="caption status-danger" *ngIf="f.password.errors.minlength">
        Password must be at least 6 characters.
      </p>
      <p class="caption status-danger" *ngIf="f.password.errors.maxlength">
        Password max 50 characters.
      </p>
    </ng-container>
  </div>
  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" formControlName="rememberMe" >Remember me</nb-checkbox>
  </div>
  <button nbButton
          fullWidth
          type="submit"
          size="large"
          class="auth"
          [disabled]="signInLoading"
          [nbSpinner]="signInLoading" 
          (click)="onSubmit(loginForm.value)">
          {{ signInLoading ? "" : "Login" }}
  </button>
</form>


