<div class="modal-wrapper large">
  <div class="modal-header">
    <h5 class="title">{{type}} Soal</h5>
    <button type="button" class="btn-close" (click)="onCancel()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="AddEditForm">
        <div class="form-control-group">
          <label class="label">
            Kelompok
            <span class="caption status-danger">*</span>
          </label>
          <nb-select 
            multiple  
            class="form-control" 
            formControlName="kelompok" 
            placeholder="Select kelas"
            [(selected)]="selectedKelompok">
            <nb-option *ngFor="let item of listKelompok" value="{{item.value}}">
              {{ item.text }}
            </nb-option>
          </nb-select> 
          <ng-container *ngIf="submitted && f.kelompok.errors">
            <p class="caption status-danger" *ngIf="f.kelompok.errors.required">
              Please select kelompok.
            </p>
          </ng-container>   
        </div>
        <div class="form-control-group">
          <label class="label">
            Matpel
            <span class="caption status-danger">*</span>
          </label>
          <nb-select 
            class="form-control" 
            formControlName="matpel" 
            placeholder="Select matpel"
            [(selected)]="selectedMatpel">
            <nb-option *ngFor="let item of listMatpel" value="{{item.value}}">
              {{ item.text }}
            </nb-option>
          </nb-select>   
          <ng-container *ngIf="submitted && f.matpel.errors">
            <p class="caption status-danger" *ngIf="f.matpel.errors.required">
              Please select matpel.
            </p>
          </ng-container>   
        </div>
        <div class="form-control-group">
          <label class="label">
            Nomer Soal
            <span class="caption status-danger">*</span>
          </label>
          <input nbInput
                fullWidth
                formControlName="nomer" 
                name="nomer"
                placeholder="Enter nomer soal"
                fieldSize="large"
                [status]="submitted && f.nomer.errors  ? 'danger' : 'basic'"
                type="number"
          >
          <ng-container *ngIf="submitted && f.nomer.errors">
            <p class="caption status-danger" *ngIf="f.nomer.errors.required">
              Please enter nomer soal.
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">
            Question
            <span class="caption status-danger">*</span>
          </label>
          <editor
              [id]="type"
              formControlName="question"
              intialValue=""
              [init]="tinymceInit"
          ></editor>
          <ng-container *ngIf="submitted && f.question.errors">
            <p class="caption status-danger" *ngIf="f.question.errors.required">
              Please enter question.
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">
            Answer
            <span class="caption status-danger">*</span>
          </label>
          <div class="answer-wrapper row">     
            <div class="col-6" *ngFor="let item of answer; let i = index">
                <span>{{item.value}}.</span>                
                <editor
                  [(ngModel)]="answer[i].text"
                  [ngModelOptions]="{standalone: true}"
                  intialValue=""
                  [init]="tinymceInit"
                ></editor>         
            </div>              
          </div>
        </div>
        <div class="form-control-group">
          <label class="label">
              Jawaban Benar 
            <span class="caption status-danger">*</span>
          </label>
          <nb-radio-group class="radio-btn" formControlName="jawaban_benar">
            <nb-radio value="a">a</nb-radio>
            <nb-radio value="b">b</nb-radio>
            <nb-radio value="c">c</nb-radio>
            <nb-radio value="d">d</nb-radio>
            <nb-radio value="e">e</nb-radio>
          </nb-radio-group>
          <ng-container *ngIf="submitted && f.jawaban_benar.errors">
            <p class="caption status-danger" *ngIf="f.jawaban_benar.errors.required">
              Please enter jawaban benar.
            </p>
          </ng-container>
        </div>
    </form> 
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-primary" 
        type="submit"
        (click)="onSubmit(AddEditForm.value)"
        [nbSpinner]="submitLoading" 
        [disabled]="submitLoading">
        {{ submitLoading ? "" : action }}
      </button>
    </div>
  </div>
</div>