<div class="modal-wrapper medium">
  <div class="modal-header">
    <h5 class="title">{{type}} Soal</h5>
    <button type="button" class="btn-close" (click)="onCancel()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </div>
  <div class="modal-body">
    {{test}}
      <form [formGroup]="AddEditForm">
        <div class="form-control-group">
          <label class="label">
            Kelompok
            <span class="caption status-danger">*</span>
          </label>
          <nb-select 
            multiple  
            class="form-control" 
            formControlName="kelompok" 
            placeholder="Select kelas"
            [(selected)]="selectedKelompok">
            <nb-option *ngFor="let item of listKelompok" value="{{item.value}}">
              {{ item.text }}
            </nb-option>
          </nb-select> 
          <ng-container *ngIf="submitted && f.kelompok.errors">
            <p class="caption status-danger" *ngIf="f.kelompok.errors.required">
              Please select kelompok.
            </p>
          </ng-container>   
        </div>
        <div class="form-control-group">
          <label class="label">
            Matpel
            <span class="caption status-danger">*</span>
          </label>
          <nb-select 
            class="form-control" 
            formControlName="matpel" 
            placeholder="Select matpel"
            [(selected)]="selectedMatpel">
            <nb-option *ngFor="let item of listMatpel" value="{{item.value}}">
              {{ item.text }}
            </nb-option>
          </nb-select>   
          <ng-container *ngIf="submitted && f.matpel.errors">
            <p class="caption status-danger" *ngIf="f.matpel.errors.required">
              Please select matpel.
            </p>
          </ng-container>   
        </div>
        <div class="form-control-group">
          <label class="label">
            Nomer Soal
            <span class="caption status-danger">*</span>
          </label>
          <input nbInput
                fullWidth
                formControlName="nomer" 
                name="nomer"
                placeholder="Enter nomer soal"
                fieldSize="large"
                [status]="submitted && f.nomer.errors  ? 'danger' : 'basic'"
                type="number"
          >
          <ng-container *ngIf="submitted && f.nomer.errors">
            <p class="caption status-danger" *ngIf="f.nomer.errors.required">
              Please enter nomer soal.
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">
            Question
            <span class="caption status-danger">*</span>
          </label>
          <editor
              [id]="type"
              formControlName="question"
              intialValue=""
              [init]="{
                  skin_url: '/assets/tinymce/skins/lightgray',
                  content_css: '/assets/tinymce/skins/lightgray/skin.min.css',
                  external_plugins: {'directionality':'/assets/tinymce/plugins/directionality/plugin.js'},
                  height: 300,
                  toolbar:'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent rtl ltr'
              }"
          ></editor>
          <quill-editor
          [modules]="modules"
          (ngModelChange)="this.debouncedUpdate.next($event)">
           
          </quill-editor>
          <ng-container *ngIf="submitted && f.question.errors">
            <p class="caption status-danger" *ngIf="f.question.errors.required">
              Please enter question.
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">
            Answer
            <span class="caption status-danger">*</span>
          </label>
          <div class="answer-wrapper">
            <nb-radio-group [(ngModel)]="selectedOption">
              <nb-radio value="a">                
                <span>a.</span>
                <textarea nbInput
                        fullWidth
                        formControlName="answer" 
                        name="answer"
                        placeholder="Enter answer"
                        fieldSize="large"
                        autofocus
                        [status]="submitted && f.answer.errors  ? 'danger' : 'basic'">       
                </textarea>       
                <button nbButton status="basic"><nb-icon icon="plus"></nb-icon></button>
              </nb-radio>
              <nb-radio value="b">                
                <span>b.</span>
                <textarea nbInput
                        fullWidth
                        formControlName="answer" 
                        name="answer"
                        placeholder="Enter answer"
                        fieldSize="large"
                        autofocus
                        [status]="submitted && f.answer.errors  ? 'danger' : 'basic'">       
                </textarea>            
                <button nbButton status="basic"><nb-icon icon="plus"></nb-icon></button>
              </nb-radio>
            </nb-radio-group>
          </div>
        </div>
    </form> 
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-primary" 
        type="submit"
        (click)="onSubmit(AddEditForm.value)"
        [nbSpinner]="submitLoading" 
        [disabled]="submitLoading">
        {{ submitLoading ? "" : action }}
      </button>
    </div>
  </div>
</div>