.answer-wrapper{
    display: flex;
    align-items: center;
    .col-6{
        margin-bottom: 1em;
    }
    span{        
        font-weight: bold;
        width: 50px;
    }
    button{
        margin-left: 10px;
    }
}
::ng-deep nb-radio{
    .text{
        display: flex;
    }
}
::ng-deep textarea{
    width: 33em;
}
.radio-btn{
    display: flex;
}